*{
	padding: 0px;
	margin: 0px;
	outline: 0px;
}
body input:focus {
border:solid 1px #4CAF50;
height: 32px;
}
body input::-moz-placeholder{
	color: #a9a9a9;
}
.c_formulario{
	width: 80%;
	height: 470px;
	background: transparent;
	margin-left: 10%;
	position: fixed;
}
.c_formulario .formulario{
	background: transparent;
	width: 70%;
	height: auto;
	margin-left: 15%;
	margin-top: 50px;
}
.titulo{
	background: transparent;
	width: 100%;
	height: auto;
	color: #545555;
	font-size: 2em;
	text-align: center;
	font-family: arial,	 sans-serif;
}
.cajas{
	background: transparent;
	height: 32px;
	width: 60%;
	margin-top: 10px;
	margin-left: 20%;
	border: 1px solid #c0c0c0;
}
.imagen{
	background: transparent;
	height: 32px;
	width: 10%;
	float:left;
}
.caja_texto{
	background: transparent;
	height: 32px;
	width:90%;
	float: left;
}
.caja_texto input{
	background: transparent;
	height: 32px;
	width: 100%;
	border:none;
	font-family: arial;
	font-size: 15px;
	color: #4CAF50;
}
.botones{
	background:transparent;
	width: 50%;
	height: 32px;
	margin-top: 10px;
	margin-left: 25%;
}
.e-botones{
	width: 40%;
	height: 32px;
	margin-left: 5%;
	border-radius: 3px;
	color: #fff;
	font-family: arial, sans-serif;
	font-size: 1em;
}
.e-botones.enviar{
	background: #51c657;
	border: 1px solid #51c657;
	transition: .5s all;
}
.e-botones.enviar:hover{
	background: #4CAF58;
	border: 1px solid #4CAF50;
	cursor: pointer;
}
.e-botones.limpiar{
	background: transparent;
	border: 1px solid #c0c0c0;
	color: #545555;
	cursor: pointer;
}
.error{
    background-color: #BC1010;
    border-radius: 4px 4px 4px 4px;
    color: #fff;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 6px;
    padding: 6px 12px;
    position: absolute;
    text-align: center;
}
.error:before{
	content: "";
   	border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #BC1010;
    margin-top: -15px;
    position: absolute;
}
.boton, .boton_limpiar{
	font-family: cursive;
	background:#4CAF50;
	border: solid 0px;
	color: #fff;
	cursor: pointer;	
	font-size: 20px;
	height: 32px;
	margin-left: 5%;
	transition:0.5s;
	width: 29%;
	float: left;	
	margin-top: 10px;
}
.boton:hover, .boton_limpiar:hover{
	background:#1a741e;
}
.consultar_historial_visitas{
	background: transparent;
	height: 32px;
	width: 30%;
	position: absolute;
	margin-top: 270px;
	margin-left: 35%;
	font-family: arial, sans-serif;
	font-size: 17px;
	text-align: center;
}
a{
	text-decoration: none;
	color: #545555;
}
a:hover{
	color: #4CAF50;
}